// Colours

$color-header-blue: rgba(234, 255, 255, 0.5);
$color-pagination-blue: rgb(37, 177, 224);



$color-pagination-testing: rgb(14, 70, 56);

$color-header-testing: rgb(19, 79, 88);
$color-buttons-testing: rgba(14, 70, 56, 1);


$color-selected-buttons-testing: rgba(14, 70, 56, 1);
$color-selected-background-testing: rgba(44, 73, 66, .3);



// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
